/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-ene-2018, 12:01:25
    Author     : pacopulido
*/
.rating {
    font-size: 0 ;
    display: inline-block ;
}
.rating a {
    text-decoration: none ;
    display: inline-block ;
    font-size: 16px ;
    font-size: 2rem ;    
    color: #888 ;
}
.rating:hover a {
    color: gold ;
}
.rating > a:hover ~ a {
    color: #888 ;
}
